- id = '0208136'
- i = 0
-editable = false

mixin inputOrText(input, name, type, value, currency)
	if input
		if currency
			.input-group
				span.input-group-addon &pound;
				input.form-control(name=name, type=type, value=value, attributes)
		else
			input.form-control(name=name, type=type, value=value, attributes)
	else
		// Add editable class if needed
		- classes = name + (attributes['readonly'] ? '' : ' editable');

		// Change all attributes in data- attributes
		- for(key in attributes) {
		- 	attributes['data-'+key] = attributes[key];
		-	delete attributes[key];
		- }
		- attributes['data-element'] = 'input'

		span(class=classes, data-type=type, attributes)
			if currency
				span.currency &pound;
			span.value(class=currency ? 'currency' : '') #{value}


mixin item(editable, name, description, rate, hours, price)
	tr(scope="row") 
		td(scope="col").name
			+inputOrText(editable, "item-"+i+"-name", "text", name)
		td(scope="col").description
			+inputOrText(editable, "item-"+i+"-description", "text", description)
		td(scope="col").rate
			+inputOrText(editable, "item-"+i+"-rate", "number", rate, true)(step=0.01)
		td(scope="col").hours
			+inputOrText(editable, "item-"+i+"-hours", "number", hours)(step=1)
		td(scope="col").price
			+inputOrText(false, "item-"+i+"-price", "number", price, true)(step=0.01, readonly)
	- i++

link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')

.a4.invoice
	.top.well.well-small Invoice

	section.header.clearfix
		address.pull-right
			p.editable(data-element='textarea')
				| 106 Heaton Park Road &bullet; Newcastle-upon-Tyne &bullet; NE6 5NR &bullet; England &bullet; UK
				br
				| (+44)7878 062 458 &bullet; craig@craigswork.com &bullet; www.craigswork.com

		.logo
			img(src="/images/logo.png")


	section.customer
		table.details.table-bordered.pull-right
			tbody
				tr(scope="row") 
					td(scope="col").date
						h5 Invoice date
						span.editable Nov 05, 2013
					td(scope="col").pay
						h5 Payment of
						san.editable &pound; 450.00
					td(scope="col").due
						h5 Due date
						san.editable Nov 20, 2013
				
		.invoice-no.pull-right
			p
				strong Invoice no. 
				span.editable #{id}
		
		address
			p.editable(data-element='textarea')
				| oomphdesign
				| Nash Workshops
				| Chapel Lane
				| Cheltenham, Gloucestershire
				| GL50 2AR, England



	section.items
		table.table.table-striped(scope="table")
			thead 
				tr(scope="row") 
					th(scope="col").name Item
					th(scope="col").description Description
					th(scope="col").rate Rate 
						span.label.label-info &pound;/hour
					th(scope="col").hours Hours
						sup 1
					th(scope="col").price Price 
						span.label.label-info &pound;

			tbody
				+item(editable, "Web development", "Grower App", "22.00", 1, "150.00")
				+item(editable, "Web development", "Grower App", "22.00", 1, "150.00")
				+item(editable, "Web development", "Grower App", "22.00", 1, "150.00")
				+item(editable, "Web development", "Grower App", "22.00", 1, "150.00")
				+item(editable, "Web development", "Grower App", "22.00", 1, "150.00")
				+item(editable, "Web development", "Grower App", "22.00", 1, "150.00")
				+item(editable, "Web development", "Grower App", "22.00", 1, "150.00")
				
				tr(scope="row"): th(colspan="6")
			tfoot
				tr(scope="row")
					th(scope="col", colspan="4") Subtotal
					th(scope="col").total
						+inputOrText(false, null, "number", "450.00", true)(readonly)

				tr(scope="row").warning
					th(scope="col", colspan="4") Previous balance
					th(scope="col").total
						+inputOrText(false, null, "number", "0.00", true)(readonly)

				tr(scope="row").active
					th(scope="col", colspan="4")
						strong Total
						sup 2
					th(scope="col").total
						+inputOrText(false, null, "number", "450.00", true)(readonly)

	section.info.row

		.rate.col-4
			h5 Hourly rates
				sup 1
			p.
				Times listed above are rounded up to the nearest hour, and may differ
				slightly from the itemised hours on the adjoined time summary.

		.payments.col-4
			h5 International transfers 
				sup 2
			p
				| Please be aware of any charges by your bank for international transfers, and note they 
				i not included 
				| in the total above.

		.questions.col-4
			h5 Questions
			p.
				If you have any questions about your bill, please feel free to get in touch at your convinience at
				invoice@craigswork.com


	section.thanks
		h3: em Thank you for your business!

	section.about.row
		.col-4
			h4 Address
			address
				p.editable(data-element='textarea').
					106 Heaton Park Road
					Newcastle-upon-Tyne
					NE6 5NR, United Kingdom
			
		.col-4
			h4 Contact
			p
				<strong>Telephone</strong> <span class="editable">(+44)7878062458</span>
				<strong>Email</strong> <span class="editable">invoice@craigswork.com</span>
				<strong>Website</strong> <span class="editable">www.craigswork.com</span>

		.col-4
			h4 Payment
			p
				<strong>BIC</strong> <span class="editable">HLFXGB21V41</span>
				<strong>IBAN</strong> <span class="editable">GB47HLFX11078300413746</span>
				<strong>UK Account / Sort</strong> <span class="editable">00413746 / 11-07-83</span>


script(src="//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.0/html2canvas.min.js")
script(src="//parall.ax/parallax/js/jspdf.js?1375104050")
script.
	$('.invoice').on('click', '.editable', function() {
		var data = $(this).data(),
			value = ($(this).find('.value').html() || $(this).html()).replace(/<br\/?>/g, "\n"),
			element = data.element || 'input';

		$('<'+element+'/>', data)
			.addClass('form-control')
			.html( value ).val( value )
			.data('replaced', $(this))
			.replaceAll(this)
			.focus();
	})
	.on('blur', '.form-control', function() {
		var elem = $(this),
			data = elem.data(),
			value = elem.val(),
			replace = elem.data('replaced'),
			element = replace.data('element') || 'input';

		// Set the value depending upon element type
		switch(element) {
			case 'textarea':
				replace.html( value );
			break;
			default:
				if(replace.find('.value').length) {
					replace.find('.value').text( elem.val() )
				}
				else {
					replace.text( elem.val() );
				}
			break;
		}

		// Replace with prior element
		elem.replaceWith( replace );
	});

	$(document).dblclick(function() {
		html2canvas([ $('.invoice')[0] ], {
			onrendered: function(canvas) {
				var doc = new jsPDF();
				doc.addImage(
					canvas.toDataURL("image/jpeg", 1.0),
					'JPEG', 0, 0, 210, 297 );
				doc.save('#{id}.pdf');
			}
		})
	});